@import url("../../ThirdParty/Cesium/Widgets/widgets.css");


html, body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #86b1cc;
    font-family: 'Gafata', sans-serif
}
.cesium-viewer-toolbar {
    color: red !important;
    /*margin-top: 50px;*/
}
.cesium-button.cesium-toolbar-button.cesium-home-button {
    background-color: purple;
}
/*.cesium-viewer-toolbar > button {
    z-index: 2000;
    background-color: #000;
    border: none;
    color: #000;
}*/
#cesiumContainer {
    position: absolute;
    top: 60px;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    font-family: sans-serif
}
a#siteTitle {
    font-size: 1.8em;
    text-decoration: none
}
a.navRightText {
    color: #5586c6 !important;
    font-size: 1.2em;
    text-decoration: none;
    width: 100%;
    white-space: nowrap;
}
#userLocation {
    margin-top: 18px;
    white-space: nowrap;
    margin-left: 7%;
    color: #2e5291;
}
#giveInstructions {
    margin-top: 18px;
    white-space: nowrap;
    margin-left: 7%;
    color: #2e5291;
}

#paradiseLocation {
    margin-top: 18px;
    white-space: nowrap;
    margin-left: 7%;
    color: #2e5291;
}

.logo{
    font-family: "Pacifico";
    font-size: 2em;
    text-align: center;
    color: #eee;
    width: 960px;
    z-index: 10;
    position: fixed;
    top:0px;
    left:50%;
    margin-left: -480px;
    padding: 10px;
}

#space{
    float: left;
    margin-left: 30px;
}

#nasa {
    float: right;
    margin-right: 30px;
}