@import url("../../ThirdParty/Cesium/Widgets/widgets.css");
html, body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #000;
    font-family: 'Gafata', sans-serif;
}
.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}
.cesium-home-button {
    background-color: #000;
}
.cesium-viewer-geocoderContainer {
    background-color: #000;
}
.cesium-geocoder-searchButton {
    background-color: #000;
    fill: #7BA5DB;
    border-color: #000;
}
.cesium-sceneModePicker-button3D {
    background-color: #000;
}
.cesium-navigation-help-button {
    background-color: #000;
}
.cesium-button {
    fill: #7BA5DB;
}
#cesiumContainer {
    position: absolute;
    top: 52.5px !important;
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 0;
}
a#siteTitle {
    font-size: 1.4em;
    text-decoration: none
}
a.navRightText {
    color: #5586c6 !important;
    font-size: 1.1em;
    text-decoration: none;
    white-space: nowrap;
    width: 100%;
    word-spacing: -.2px;
}
#userLocation {
    font-size: 1.1em;
    margin-top: 4px;
    white-space: nowrap;
    margin-left: -10% !important;
    color: #5586c6;
    width: 100%;
}
#giveInstructions {
    font-size: 1.1em;
    margin-top: 15px;
    white-space: nowrap;
    margin-left: -10% !important;
    color: #5586c6;
}
#paradiseLocation {
    font-size: 1.1em;
    margin-top: 4px;
    white-space: nowrap;
    margin-left: -10% !important;
    color: #5586c6;
    width: 100%;
}
#moonData {
    font-size: 1.1em;
    margin-top: 15px;
    white-space: nowrap;
    margin-left: -10% !important;
    color: #5586c6;
    width: 100%;
}
#resetText {
    visibility: hidden;
    font-size: 0.9em;
    float: right;
    margin-bottom: 1px;
    color: #ef6334;
    padding-right: 8px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack: bottom;
    -webkit-box-align: bottom;
    display: -moz-box;
    -moz-box-orient: vertical;
    -moz-box-pack: bottom;
    -moz-box-align: bottom;
    display: box;
    box-orient: vertical;
    box-pack: bottom;
    box-align: bottom;
}
.navbar-fixed-top {
    height: 50px;
    border-bottom: 1px solid #7BA5DB;
}
#creditContainer {
    display: none;
}
.loadingData {
    display: none;
    font-size: 1.1em;
    margin-top: 15px;
    white-space: nowrap;
    margin-right: 28px !important;
    color: #ef6334;
}
#aboutContainer {
    background: rgba(18, 17, 17, 0.8);
    border-radius: 4px;
    position: relative;
}
.aboutText {
    color: #fff;
    padding: 10px;
    text-align: center;
}
.aboutTextMoveRight {
    color: #fff;
    padding: 10px;
    text-align: center !important;
    margin-left: 160px !important;
}
.tbox {
    top: 42px !important;
    left: 470px;
    opacity: 1;
    display: block;
}
a {
    text-decoration: none !important;
}