@import "../../vendor/cesium/Widgets/widgets.css";

html,body {
  padding:0;
  margin:0;
  overflow:hidden;
  background-color:#86b1cc;
  font-family:'Gafata',sans-serif
}

#cesiumContainer {
  position:absolute;
  top:60px;
  left:0;
  height:100%;
  width:100%;
  margin:0;
  overflow:hidden;
  padding:0;
  font-family:sans-serif
}

a#siteTitle {
  font-size:1.8em;
  text-decoration:none
}

a.navRightText {
  color:#86b1cc!important;
  font-size:1.2em;
  text-decoration:none
}